# QUESTION  1

In [14]:
import requests
from bs4 import BeautifulSoup

In [15]:
request=requests.get('https://en.wikipedia.org/wiki/Main_Page')


soup=BeautifulSoup(request.content)

In [16]:
Headers=[]
header = soup.find_all(['h1','h2','h3','h4','h5','h6'])
for i in header:
    Headers.append(i.text.replace('\n'," "))
    
    
Headers

['Main Page',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "From today's featured list",
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages',
 'Navigation menu',
 ' Personal tools ',
 ' Namespaces ',
 ' Variants ',
 ' Views ',
 ' More ',
 ' Search ',
 ' Navigation ',
 ' Contribute ',
 ' Tools ',
 ' Print/export ',
 ' In other projects ',
 ' Languages ']

# QUESTIOIN 2

In [1]:
import requests
from bs4 import BeautifulSoup
page = requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc")
page

In [2]:
movies = BeautifulSoup(page.content)

In [3]:
Name = movies.find_all('h3',class_='lister-item-header')

In [4]:
name = []
for i in Name:
    for j in i.find_all("a"):
        name.append(j.text.replace("\n",""))

In [5]:
Year = []
year = movies.find_all('span',class_="lister-item-year text-muted unbold")
for i in year:
    Year.append(i.text)

In [6]:
rating = movies.find_all("div",class_="inline-block ratings-imdb-rating")
Rating = []
for i in rating:
    Rating.append(i.text.replace("\n",""))

In [7]:
page2 = requests.get("https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc&start=51&ref_=adv_nxt")
page2

In [8]:
movies=BeautifulSoup(page2.content)

In [9]:
for i in movies.find_all("h3",class_="lister-item-header"):
    for j in i.find_all("a"):
        name.append(j.text.replace("\n",""))

In [11]:
rating = movies.find_all("div",class_="inline-block ratings-imdb-rating")
for i in rating:
    Rating.append(i.text.replace("\n",""))

In [12]:
year = movies.find_all('span',class_="lister-item-year text-muted unbold")
for i in year:
    Year.append(i.text)

In [13]:
import pandas as pd
movies=pd.DataFrame({"Names":name,
                     "Year":Year,
                     "Ratings":Rating})
movies

                                Names    Year Ratings
0            The Shawshank Redemption  (1994)     9.3
1                       The Godfather  (1972)     9.2
2                     The Dark Knight  (2008)     9.0
3              The Godfather: Part II  (1974)     9.0
4                        12 Angry Men  (1957)     9.0
..                                ...     ...     ...
95                 North by Northwest  (1959)     8.3
96                            Vertigo  (1958)     8.3
97                Singin' in the Rain  (1952)     8.3
98                       Citizen Kane  (1941)     8.3
99  M - Eine Stadt sucht einen Mörder  (1931)     8.3

[100 rows x 3 columns]

# QUESTION  3

In [14]:
import requests
from bs4 import BeautifulSoup
page = requests.get("https://www.imdb.com/india/top-rated-indian-movies/")
page

In [15]:
movies = BeautifulSoup(page.content)

In [16]:
Name=[]
for i in movies.find_all('td',class_='titleColumn'):
    for j in i.find_all('a'):
        Name.append(j.text.replace('\n','').strip())

In [17]:
Year=[]
for i in movies.find_all('td',class_='titleColumn'):
    for j in i.find_all('span',class_='secondaryInfo'):
        Year.append(j.text)

In [18]:
IMDB=[]
for i in movies.find_all('td',class_='ratingColumn imdbRating'):
    IMDB.append(i.text.strip())

In [20]:
import pandas as pd
movies=pd.DataFrame({"Names":Name,
                     "Year":Year,
                     "Ratings":IMDB})
movies

                        Names    Year Ratings
0                     Nayakan  (1987)     8.5
1           Pariyerum Perumal  (2018)     8.5
2                  Anbe Sivam  (2003)     8.5
3           C/o Kancharapalem  (2018)     8.5
4                     Golmaal  (1979)     8.5
..                        ...     ...     ...
245  Manorama: Six Feet Under  (2007)     7.6
246                      Piku  (2015)     7.6
247               Wake Up Sid  (2009)     7.6
248                      Ludo  (2020)     7.6
249                    Dhruva  (2016)     7.6

[250 rows x 3 columns]

# QUESTION  4

In [29]:
import requests
from bs4 import BeautifulSoup

In [30]:
request=requests.get('https://bookpage.com/reviews?book_genre=fiction&page=1')
request

In [31]:
soup=BeautifulSoup(request.content)

In [32]:
n=[]
for i in soup.find_all('div',class_='flex-article-content'):
    for j in i.find_all('a'):
        n.append(j.text.replace("★","").strip())

In [33]:
name=n[0:len(n):4]
name

['How to Find Your Way in the Dark',
 'All’s Well',
 'Summer Fun',
 'What Strange Paradise',
 'China Room',
 'A Passage North',
 'The Startup Wife',
 'The Tiger Mom’s Tale',
 'Build Your House Around My Body',
 'Together We Will Go']

In [34]:
genre=n[1:len(n):4]
genre

['Fiction',
 'Fiction',
 'Fiction',
 'Fiction',
 'Fiction',
 'Fiction',
 'Fiction',
 'Fiction',
 'Fiction',
 'Fiction']

In [35]:
author=[]
for i in soup.find_all('div',class_='flex-article-content'):
    for j in i.find_all('p',class_='sans bold'):
        author.append(j.text.replace("\n","").strip())

In [36]:
url_tags = soup.find_all("h4",class_="italic")

url = []
for i in url_tags:
    for j in i.find_all("a",href=True):
        url.append(j["href"])
url

['/reviews/26469-derek-b-miller-how-to-find-your-way-dark-fiction',
 '/reviews/26466-mona-awad-alls-well-fiction',
 '/reviews/26474-jeanne-thornton-summer-fun-fiction',
 '/reviews/26483-omar-el-akkad-what-strange-paradise-fiction',
 '/reviews/26375-sunjeev-sahota-china-room-fiction',
 '/reviews/26373-anuk-arudpragasm-passage-north-fiction',
 '/reviews/26386-tahmima-anam-startup-wife-fiction',
 '/reviews/26388-lyn-liao-butler-tiger-moms-tale-fiction',
 '/reviews/26374-violet-kupersmith-build-your-house-around-my-body-fiction',
 '/reviews/26390-j-michael-straczynski-together-we-will-go-fiction']

In [39]:
reviews = []
for i in url:
    book = requests.get("https://www.bookpage.com"+i)
    soup= BeautifulSoup(book.content,"html.parser")
    rev = soup.find("div",class_="article-body")
    reviews.append(rev.text.replace("\n"," "))
reviews

['  Prepare for surprises galore in How to Find Your Way in the Dark, a rollicking novel that begins with a lonely truck ride in New England in 1938 and follows its characters through a decade of fascinating history. Just when you think the story is heading one way, it veers in another, completely unexpected direction. Twelve-year-old Sheldon Horowitz and his father are driving home from Hartford, Connecticut, to Whately, Massachusetts, after honoring the one-year anniversary of Sheldon’s mother’s death. She and her sister died in a horrific movie theater fire in Hartford. And as if that isn’t enough tragedy for the novel’s first 13 pages, a truck purposely forces Sheldon and his father’s car off the road during their return trip, and Sheldon’s father dies. Readers of Derek B. Miller’s award-winning thriller, Norwegian by Night, will recognize Sheldon as that novel’s 82-year-old protagonist. As a Tom Sawyer-like boy in How to Find Your Way in the Dark, Sheldon is determined to make sense of his double tragedies, and his attempts to do so take the reader on one hell of a ride. As he seeks out the leering, mustached truck driver who killed his father, his quest leads him straight into danger—think mobsters, guns and jewel thefts. Miller has crafted a wide-ranging, years-spanning yet tightly structured plot, and he excels at placing memorable characters in unusual circumstances. Sheldon is joined in his adventures by his two older cousins, Abe and Mirabelle, and his best friend, Lenny, all of whom play pivotal roles. One summer, Lenny and Sheldon end up as bellhops at the famed Grossinger’s Resort in the Catskills, where Lenny practices standup comedy amid the glamorous, bustling atmosphere. An underlying seriousness lies at the heart of all of this intrigue, hilarity and fun. Sheldon, Abe, Mirabelle and Lenny, all Jewish, must confront the many faces of antisemitism during the turbulent years of World War II. Miller weaves in a multitude of historical details, including reports of the horrors in Europe and America’s reluctance to intervene. The ending of How to Find Your Way in the Dark is nothing short of brilliant, tying up a variety of loose ends while making a powerful statement about the need to fully recognize and address antisemitism. Readers are left with much to ponder, including life’s many uncertainties and cruel twists of fate. Despite these unhappy truths, we are also left with the uplifting wisdom of Lenny’s urgent prayer: “Dear God, give me the strength to be joyful.”  ',
 '  Miranda Fitch, the protagonist of Mona Awad’s third novel, All’s Well, might best be described—to borrow the title of the 1988 Pedro Almodóvar film—as a woman on the verge of a nervous breakdown. A professor of theater studies at a small liberal arts college in Massachusetts, she’s laboring mightily to stage a student production of Shakespeare’s All’s Well That Ends Well, which she thinks of as a “problem play,” one that’s “neither a tragedy nor a comedy. Both, always both.” Apart from a rebellious cast, Miranda’s primary obstacle is unremitting pain from an injury she sustained when she tumbled from a stage during her promising but brief acting career. The resulting hip injury led to serious back problems unrelieved by the ministrations of a string of doctors and physical therapists, transforming Miranda, divorced and not yet 40 years old, into a pill-gobbling automaton who has abandoned all hope of her own happy ending. All’s Well quickly leaves behind this depressingly naturalistic scenario to veer into the realm of fabulism when Miranda encounters three mysterious men in a local pub. The trio, who inexplicably have intimate knowledge of her life and struggles, grace her with what seems like a miracle cure. But as she discovers, even healing can come at a price. Awad efficiently portrays both Miranda’s confrontation with chronic pain and the slowly evaporating patience of the people in her orbit (her ex-husband, Paul; colleague and friend Grace; and Mark, the last in a chain of physical therapists) with her lack of improvement. Anyone who’s been similarly afflicted or knows someone who has will recognize this scenario. Awad leaves it to the reader to assess how much of Miranda’s mental turmoil is the product of an inexplicable but desperately welcome truce in her battle with pain, and how much flows from her encounter with supernatural forces. It’s a wild, at times over-the-top ride, but like Shakespeare’s eponymous work, there’s both pathos and humor in this story of how we suffer and the ways in which we’re healed.  ',
 '  It’s been nine years since the publication of Jeanne Thornton’s debut, The Dream of Doctor Bantam, and her second novel, Summer Fun, has been worth the wait. Dizzying and deliciously weird, it’s a sprawling yet intimate story about music, hidden trans histories and the transformative act of creation. Gala, a trans woman living in small-town New Mexico, is obsessed with a classic 1960s pop band called the Get Happies and their mysterious lead singer, B\xa0 \xa0 \xa0 \xa0. In a series of remarkable letters to B\xa0 \xa0 \xa0 \xa0, full of whip-smart observations and dark humor, Gala slowly reveals the true story of B\xa0 \xa0 \xa0 \xa0’s life and music, shedding light on herself in the process. This is no ordinary epistolary novel. Thornton discards convention, choosing instead to use the form to explore the possibilities of cross-generational queer and trans conversations. Gala’s letters act as a kind of portal, a manifestation of trans magic. She addresses B\xa0 \xa0 \xa0 \xa0 directly, often inhabiting the singer’s thoughts and emotions. Gala tells B\xa0 \xa0 \xa0 \xa0’s story from the inside, as if she were the one who lived it. Each letter is a small act of discovery, an unfolding mystery. The unique epistolary format makes space for deep connections, not only between Gala and B\xa0 \xa0 \xa0 \xa0 but also between Gala and the reader. It is impossible not to read these heartfelt missives without becoming wholly invested in her world. Reflecting on the impossibility of authenticity in the music industry, Gala muses as B\xa0 \xa0 \xa0 \xa0, “No one gets to sound like who they are; that isn’t how success operates.” But Thornton proves this isn’t always the case. Gala’s narration is singular—assured, sarcastic and yearning. She’s determined to tell her story, as well as B\xa0 \xa0 \xa0 \xa0’s, through her own particular lens, unrefined and vulnerable, full of messy contradictions. Thornton’s plotting is masterful, her prose elegant and her characterization nuanced. But it’s the emotional heft of Gala’s narrative voice that sets this novel apart. Summer Fun is unpredictable and delightful, structurally innovative and epic in scope. It’s a heartbreaking yet hopeful addition to the growing canon of literature that celebrates the complexity of trans lives.  ',
 '  According to the UN Refugee Agency, there were more than 26 million refugees worldwide at the end of 2019. Amid food insecurity, oppression and injustice, the global refugee crisis shows no signs of slowing, as migrants dare to cross dangerous seas on overcrowded ferries, fishing trawlers or other vessels in hopes of finding a better life. Many refugees fail to reach the next shore, becoming victims of dangerous waters or border patrols who turn them away. For Amir Utu, a 9-year-old Syrian boy in Omar El Akkad’s riveting second novel, What Strange Paradise, the voyage is at first a grand adventure, like in the comic books he reads. But after washing ashore on an unnamed island’s beach as the only survivor, Amir soon learns that this is no adventure but rather a matter of survival. Almost at once, he is pursued by soldiers combing the beach, and he must flee to escape them, though he barely understands why he is running in the first place. Amir’s flight brings him in contact with 15-year-old Vänna Hermes, who takes pity on him, hides him from the soldiers and tries to help him to safety. Amir is unable to understand Vänna’s language, but as the pair builds an unusual bond, Amir finds a friend amid a hostile world. An international journalist and author of the acclaimed novel American War, El Akkad shapes What Strange Paradise mostly through Amir’s point of view, alternating between the boy’s immediate past and his present situation as he struggles to comprehend his plight. The author’s decision to focus on Amir’s youthful innocence serves to downplay the serious political undertones of the refugee crisis, transforming the boy’s tale into an intimate action-adventure story that’s laced with hope and compassion, emotions with the power to transcend borders and worldly disputes.  ',
 '  Sunjeev Sahota’s brilliant second novel, the 2015 Booker Prize short-listed The Year of the Runaways, was a sweeping and absorbing look at hardscrabble Indian immigrant life in working-class England. His third book, China Room, is a shorter, more intimate novel that still tells a compelling and devastating tale. It’s also partially based on a true story. The novel alternates between two storylines in the 1920s and 1990s. The earlier timeline, which is based in part on Sahota’s great-grandmother’s experiences, is set in India’s heavily agricultural Punjab region. Notoriously patriarchal, rural India has been slow to offer women certain rights and opportunities, especially a century ago. Three brothers are married to young girls, including 15-year-old Mehar, in a triple ceremony. The girls are ruled with an iron fist by their mother-in-law, Mai, who barks orders like a military general and demeans them every chance she gets. Mai permits nightly visits between her sons and their new wives, but only in pitch darkness. In the confusion, an illicit affair begins. The second story, set during the summer of 1999, centers on Mehar’s great-grandson. Narrating from 2019, the man describes traveling to India, seeking refuge from the heroin that has wrecked his health and the racism that has broken apart his family in the U.K. While trying to overcome his addiction, he finds himself going cold turkey in the now rundown “china room” where Mehar used to live along with her sisters-in-law. The man’s story somewhat echoes Mehar’s, and when he falls for a female doctor who’s more than a decade older than he, the local village is rife with gossip. Through short chapters and sparse, tightly wrought prose, Sahota’s novel is both easy to read and difficult to put down. Something of a hometown hero, not only in the old steel town of Sheffield, where he currently resides, but also to British Indian and Asian writers, Sahota cements his place in a vibrant literary canon alongside Salman Rushdie, Kamila Shamsie, Mohsin Hamid, Hari Kunzru and others.  ',
 '  In Anuk Arudpragasam’s elegantly discursive second novel, memory, trauma and collective action determine the arc of lives. A Passage North begins in Colombo, Sri Lanka, where a young man named Krishan is mulling over an email from his cryptic ex-girlfriend, an activist named Anjum, whom he dated years ago in Delhi, India. Moments later, Krishan learns his grandmother’s caretaker, Rani, has mysteriously fallen down a well and died.\xa0 These two events set the wheels in motion for Krishan’s journey to the center of himself. He boards a train to northern Sri Lanka to attend Rani’s funeral, but his journey exists more in mind than body. He meditates on his brief but engulfing love affair with Anjum and is haunted by the government-sanctioned persecution of the Tamil people. For readers unfamiliar with the Sri Lankan Civil War, A Passage North offers perspective on the Sinhalese-dominated government’s conflict with the Liberation Tigers of Tamil Eelam. The insurrectionist Tamil Tigers fought to form an independent state so their ethno-linguistic minority group could escape subjugation, rape and killing. Arudpragasam raises questions about unfettered devotion to higher causes as Krishan struggles to find his own true purpose, the way Anjum seemed to find hers by forming a politically active commune away from Delhi—and away from their life together. Arudpragasam expertly captures the ambiguity of romance between two young people who feel the call of the broader world even as they cling to each other. Krishan recalls meeting Anjum through the queer scene in Delhi, where he was enraptured by her easy confidence, her knowledge of poetry and languages, and the way she stared back at men who ogled her, forcing them to confront their own gaze. While Arudpragasam’s writing remains observational throughout, this love story adds heat and intrigue to an otherwise philosophical novel. In A Passage North, past and present bleed together. Flipping through the novel’s pages, the reader will notice an absence of white space and section breaks outside of chapter demarcations. There is no direct dialogue either. In this way, the novel is reminiscent of José Saramago’s work. But Arudpragasam’s writing is exceptionally graceful, which allows the text to flow despite its density. The lack of action may frustrate some readers, but this structure creates an otherwise impossible narrative reverie. Ultimately, A Passage North is an elegant story whose discursive nature pays off.\xa0 \xa0  ',
 '  The funny and sharp fourth novel by acclaimed Bangladesh-born British author Tahmima Anam, The Startup Wife, exposes the folly of looking for leadership in the startup sector, which reveres disruption in all areas except its own. In this brilliantly incisive social novel, a quasi-faith community springs from a social media platform called WAI, short for “We Are Infinite.” WAI uses an algorithm to design personalized rituals based on three meaningful elements of a person’s life—and then introduces that person to a like-minded community. It’s easy to see why WAI would be appealing. Its rituals fill the void many modern-day people feel in the absence of organized religion. The platform\'s essential concept is that if we treat something as sacred, we believe that it is more than entertainment, that it offers moral rewards and is worthy of rigorous contemplation. (Listeners to the "Harry Potter and the Sacred Text" podcast will find this idea familiar.) But first, the novel begins with a love story: Thirteen years after high school, Asha Ray reunites with her crush, Cyrus Jones, when they attend a memorial for their late English teacher. Asha is four years into her Ph.D. at Harvard, and Cyrus has become a charismatic spiritual polyglot. He’s traveled the world, collecting bits of philosophy and religion from an endless variety of sources, and distilled them into something people can use in their own lives. “I create rituals,” he says. Cyrus and Asha’s intellectual connection is intense, and soon, so is their physical relationship. The novel focuses on their all-encompassing, interconnected work-life partnership, which also includes, to a lesser extent, their best friend, Jules. When Asha’s artificial intelligence research hits a roadblock, she draws inspiration from Cyrus’ work and decides “to start a platform that [allows] people without religion to practice a form of faith.” Through Asha’s programming wizardry, WAI becomes a life-changing phenomenon. But it quickly becomes clear that the platform, intended to bring people together, is likely to blow the triad apart. The Startup Wife is framed as a satirical novel about startup culture, but because Americans revere that culture, its foibles and failings are our failures, too. Tech investors subscribe to the “great man” theory of history as much as the rest of America, and this unavoidable fact begins to spoil Asha’s relationships with her two male partners. Investors are more apt to provide valuable exposure and support to a passion project fronted by a brilliant (usually white) man rather than a geeky brown woman. So even though Asha’s research is the source of the platform’s Empathy Module algorithm, handsome Cyrus becomes the figurehead for WAI. Initially resistant to making his spiritual practice into a business, he is easily seduced into playing CEO and messiah. While The Startup Wife is full of beautifully messy and enviable characters, Asha’s fierce feminism and candor stand out. Of course, she’s far from innocent. She’s a creative genius who wants her due, just as any man would. But it’s a delight to experience Asha’s first-person perspective of the world and her metamorphosis into a powerful, flawed woman. Because The Startup Wife is sexy and funny and puts relationships at the forefront, it might be easy to overlook its depth and sophistication. But its priorities are right where they should be. When people create a community with their friends and lovers, it is inevitable that boundaries will dissolve and that friendship, love, ego and identity will become intertwined. The Startup Wife’s insights about modern relationships, gender politics, race, technology and culture are as excellent and vital as its storytelling.  ',
 '  Unembellished and forthright, The Tiger Mom’s Tale is a touching story that illuminates intricacies of race, ethnicity, traditions and stereotypes. Thirty-something Lexa Thomas is a fitness trainer living in New York City, and she’s trying to adjust to the news that her white mother is divorcing Lexa’s white stepfather after falling for an Asian American acupuncturist. Then Lexa receives a call from her half sister in Taiwan, Hsu-Ling, who informs Lexa that their biological father has died. This stirs up memories of what happened during Lexa’s last visit to Taiwan, when she was forced to abandon her father and her heritage 22 years ago. But Hsu-Ling has more news. Their Uncle Pong has also died, within moments of their father’s death, and he left a mysterious letter for Lexa. Encouraged by her two half sisters, one Taiwanese and the other a white American, Lexa returns to Taiwan to claim her rightful place in the family. Lyn Liao Butler’s tale is a literary melting pot brimming with blended families and cultures. The straightforward, exposition-heavy narrative is sprinkled with Mandarin and broad references to different Asian foods and cultural elements, although the lack of development of these aspects may distract the reader from fully immersing themselves in Lexa’s journey to connect with her heritage. Scenes that reveal backstory and the surprising events that turned Lexa away from her Taiwanese relatives slowly tease out the novel’s climax. Lexa’s gentle humility and quiet confidence will garner the support of readers looking for a likable protagonist. A heartwarming romantic subplot is a sweet result of Lexa’s transformation and self-acceptance and provides another union of ethnic backgrounds. Filled with potential book club discussion topics and perfect for fans of YA novels by Jenny Han, The Tiger Mom’s Tale will unleash timely dialogue about identity, family secrets and cultural divides.  ',

In [40]:
import pandas as pd
books=pd.DataFrame({"Names":name[0:5],
                     "Author":author[0:5],
                     "Genre":genre[0:5],
                    "Review":reviews[0:5]})
books

,Names,Author,Genre,Review
0,How to Find Your Way in the Dark,Derek B. Miller,Fiction,Prepare for surprises galore in How to Find ...
1,All’s Well,Mona Awad,Fiction,"Miranda Fitch, the protagonist of Mona Awad’..."
2,Summer Fun,Jeanne Thornton,Fiction,It’s been nine years since the publication o...
3,What Strange Paradise,Omar El Akkad,Fiction,"According to the UN Refugee Agency, there we..."
4,China Room,Sunjeev Sahota,Fiction,"Sunjeev Sahota’s brilliant second novel, the..."

# QUESTION:5

In [1]:
import requests
from bs4 import BeautifulSoup

In [10]:
request = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting")
request

In [11]:
odi=BeautifulSoup(request.content)

In [12]:
name=odi.find_all('table',class_="table rankings-table")

In [13]:
names=[]
for i in name:
    for j in i.find_all('a'):
        names.append(j.text)

In [14]:
names=names[1:11:]

In [15]:
team=[]
for i in odi.find_all('table',class_="table rankings-table"):
    for j in i.find_all('div',class_="rankings-block__banner--nationality"):
        team.append(j.text.replace('\n',''))

In [17]:
for i in odi.find_all('table',class_="table rankings-table"):
    for j in i.find_all('span',class_="table-body__logo-text"):
        team.append(j.text)

In [18]:
teams=team[0:10]

In [19]:
rating=[]
for i in odi.find_all('table',class_="table rankings-table"):
    for j in i.find_all('div',class_="rankings-block__banner--rating"):
        rating.append(j.text)

In [20]:
for i in odi.find_all('table',class_="table rankings-table"):
    for j in i.find_all('td',class_="table-body__cell rating"):
        rating.append(j.text)

In [21]:
ratings=rating[0:10]

In [22]:
record=[]
for i in odi.find_all('table',class_="table rankings-table"):
    for j in i.find_all('span',class_="rankings-block__career-best-text"):
        record.append(j.text.replace('\n','').strip())

In [23]:
for i in odi.find_all('table',class_="table rankings-table"):
    for j in i.find_all('td',class_="table-body__cell u-text-right u-hide-phablet"):
        record.append(j.text.replace('\n','').strip())

In [24]:
records=record[0:10]

In [25]:
import pandas as pd
batsman=pd.DataFrame({'Position':[1,2,3,4,5,6,7,8,9,10],
                     "Names":names,
                     "Team":teams,
                     "Ratings":ratings,
                     "Records":records})

batsman

,Position,Names,Team,Ratings,Records
0,1,Babar Azam,PAK,873,"873 v England, 13/07/2021"
1,2,Virat Kohli,IND,848,"911 v England, 12/07/2018"
2,3,Rohit Sharma,IND,817,"885 v Sri Lanka, 06/07/2019"
3,4,Ross Taylor,NZ,801,"841 v Bangladesh, 05/06/2019"
4,5,Aaron Finch,AUS,791,"798 v England, 25/06/2019"
5,6,Jonny Bairstow,ENG,775,"796 v India, 26/03/2021"
6,7,David Warner,AUS,773,"880 v Pakistan, 26/01/2017"
7,8,Shai Hope,WI,773,"808 v Bangladesh, 17/05/2019"
8,9,Francois du Plessis,SA,766,"820 v Australia, 06/07/2019"
9,10,Quinton de Kock,SA,758,"813 v Sri Lanka, 10/03/2019"

In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
request = requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
request

In [3]:
odi=BeautifulSoup(request.content)

In [4]:
name=odi.find_all('table',class_="table rankings-table")

In [5]:
names=[]
for i in name:
    for j in i.find_all('a'):
        names.append(j.text)

In [6]:
names=names[1:11:]

In [7]:
team=[]
for i in odi.find_all('table',class_="table rankings-table"):
    for j in i.find_all('div',class_="rankings-block__banner--nationality"):
        team.append(j.text.replace('\n',''))

In [8]:
for i in odi.find_all('table',class_="table rankings-table"):
    for j in i.find_all('span',class_="table-body__logo-text"):
        team.append(j.text)

In [9]:
teams=team[0:10]

In [10]:
rating=[]
for i in odi.find_all('table',class_="table rankings-table"):
    for j in i.find_all('div',class_="rankings-block__banner--rating"):
        rating.append(j.text)

In [11]:
for i in odi.find_all('table',class_="table rankings-table"):
    for j in i.find_all('td',class_="table-body__cell rating"):
        rating.append(j.text)

In [12]:
ratings=rating[0:10]

In [13]:
record=[]
for i in odi.find_all('table',class_="table rankings-table"):
    for j in i.find_all('span',class_="rankings-block__career-best-text"):
        record.append(j.text.replace('\n','').strip())

In [14]:
for i in odi.find_all('table',class_="table rankings-table"):
    for j in i.find_all('td',class_="table-body__cell u-text-right u-hide-phablet"):
        record.append(j.text.replace('\n','').strip())

In [15]:
records=record[0:10]

In [16]:
import pandas as pd
bowler=pd.DataFrame({'Position':[1,2,3,4,5,6,7,8,9,10],
                     "Names":names,
                     "Team":teams,
                     "Ratings":ratings,
                     "Records":records})

In [17]:
bowler

,Position,Names,Team,Ratings,Records
0,1,Trent Boult,NZ,737,"770 v West Indies, 22/06/2019"
1,2,Mujeeb Ur Rahman,AFG,708,"712 v Ireland, 24/01/2021"
2,3,Chris Woakes,ENG,700,"711 v Sri Lanka, 04/07/2021"
3,4,Mehedi Hasan,BAN,692,"725 v Sri Lanka, 25/05/2021"
4,5,Matt Henry,NZ,691,"691 v Bangladesh, 26/03/2021"
5,6,Jasprit Bumrah,IND,683,"841 v West Indies, 01/11/2018"
6,7,Josh Hazlewood,AUS,660,"733 v England, 26/01/2018"
7,8,Shakib Al Hasan,BAN,650,"717 v Zimbabwe, 05/11/2009"
8,9,Kagiso Rabada,SA,648,"724 v England, 29/05/2017"
9,10,Pat Cummins,AUS,646,"729 v Pakistan, 12/06/2019"

In [59]:
import requests
from bs4 import BeautifulSoup

In [60]:
request = requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
request

In [61]:
odi=BeautifulSoup(request.content)

In [62]:
name=odi.find_all('table',class_="table rankings-table")

In [63]:
Name=[]
for i in odi.find_all('div',class_='rankings-block__container full rankings-table'):
    for j in i.find_all('span',class_='u-hide-phablet'):
        Name.append(j.text.replace('\n','').strip())

In [74]:
Name=Name[0:10]

In [65]:
matches=[]
for i in odi.find_all("td",class_="rankings-block__banner--matches"):
    matches.append(i.text)
matches

['17']

In [66]:
match=[]
for i in odi.find_all("td",class_="table-body__cell u-center-text"):
    match.append(i.text)
match=matches+match[:18:2]
len(match)

10

In [67]:
points=[]
for i in odi.find_all("td",class_="rankings-block__banner--points"):
    points.append(i.text)

In [68]:
point=[]
for i in odi.find_all("td",class_="table-body__cell u-center-text"):
    point.append(i.text)
point=points+point[1:18:2]
len(point)

10

In [69]:
ratings=[]
for i in odi.find_all("td",class_="rankings-block__banner--rating u-text-right"):
    ratings.append(i.text.replace('\n','').strip())

In [70]:
rating=[]
for i in odi.find_all("td",class_="table-body__cell u-text-right rating"):
    rating.append(i.text.replace('\n','').strip())

In [77]:
rating=ratings+rating
rating=rating[0:20:2]

In [78]:
import pandas as pd
team=pd.DataFrame({
                     "Names":Name,
                     "Match":match,
                   'Points':point,
                    "Ratings":rating})

In [79]:
team

          Names Match Points Ratings
0   New Zealand    17  2,054     121
1       England    32  3,793     119
2     Australia    26  3,077     113
3         India    32  3,624      93
4  South Africa    22  2,267      82
5      Pakistan    27  2,524      62
6    Bangladesh    29  2,639      46
7   West Indies    28  2,290      37
8     Sri Lanka    29  2,303      24
9   Afghanistan    17  1,054      16

# QUESTION :6

In [80]:
import requests
from bs4 import BeautifulSoup

In [81]:
request = requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
request

In [82]:
women=BeautifulSoup(request.content)

In [92]:
name=[]
for i in women.find_all("span",class_="u-hide-phablet"):
     name.append(i.text)

In [93]:
match=[]
for i in women.find_all("td",class_="rankings-block__banner--matches"):
    match.append(i.text)

In [94]:
t = []
for i in women.find_all("td",class_="table-body__cell u-center-text"):
    t.append(i.text)
match=match+t[::2]

In [95]:
point= []
for i in women.find_all("td",class_="rankings-block__banner--points"):
    point.append(i.text)
point=point+t[1::2]

In [96]:
rating=[]
for i in women.find_all("td",class_="rankings-block__banner--rating u-text-right"):
    rating.append(i.text.replace("\n","").strip())

In [97]:
for i in women.find_all("td",class_="table-body__cell u-text-right rating"):
    rating.append(i.text)

In [99]:
df4 = pd.DataFrame({"Top 10 ODI Women's Team":name[0:10],
                   "Matches":match,
                   "Points":point,
                   "Rating":rating
                   })
df4

  Top 10 ODI Women's Team Matches Points Rating
0               Australia      18  2,955    164
1                 England      20  2,370    119
2            South Africa      24  2,828    118
3                   India      23  2,535    110
4             New Zealand      21  1,947     93
5             West Indies      17  1,427     84
6                Pakistan      20  1,496     75
7              Bangladesh       5    306     61
8               Sri Lanka      11    519     47
9                 Ireland       2     25     13

In [100]:
import requests
from bs4 import BeautifulSoup

In [103]:
request=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
request

In [106]:
soup=BeautifulSoup(request.content)

In [133]:
name= []
for i in soup.find_all("table",class_="table rankings-table"):
    for j in i.find_all("a"):
        name.append(j.text.replace("\n",""))
name.remove("")#Removing the empty 0 index

In [134]:
team=[]
for i in soup.find_all("div",class_="rankings-block__banner--nationality"):
    team.append(i.text.strip())

In [135]:
for i in soup.find_all("span",class_="table-body__logo-text"):
    team.append(i.text)

In [136]:
Rating =[]
for i in soup.find_all("div",class_="rankings-block__banner--rating"):
    Rating.append(i.text)

In [137]:
for i in soup.find_all("td",class_="table-body__cell rating"):
    Rating.append(i.text)

In [138]:
df6 = pd.DataFrame({"Top 10 Women's All rounder":name[:10],
                   "Team":team[:10],
                   "Rating":Rating[:10]})
df6

  Top 10 Women's All rounder Team Rating
0                Mithali Raj  IND    762
1                Lizelle Lee   SA    758
2               Alyssa Healy  AUS    756
3             Tammy Beaumont  ENG    754
4            Stafanie Taylor   WI    736
5                Meg Lanning  AUS    723
6          Amy Satterthwaite   NZ    715
7             Natalie Sciver  ENG    706
8            Smriti Mandhana  IND    701
9            Laura Wolvaardt   SA    683

In [1]:
import requests
from bs4 import BeautifulSoup
request = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
request

In [2]:
beauty = BeautifulSoup(request.content)

In [3]:
name=[]
for i in beauty.find_all("table",class_="table rankings-table"):
    for j in i.find_all("a"):
        name.append(j.text.replace("\n",""))
name.remove("")

In [40]:
t=[]
for i in beauty.find_all("table",class_="table rankings-table"):
    for j in i.find_all("td"):
        t.append(j.text.replace("\n","").strip())

In [6]:
team = []
for i in range(2,len(t),5):
    team.append(t[i])

In [7]:
Rating = []
for i in range(3,len(t),5):
    Rating.append(t[i])

In [8]:
career = []
for i in t[4::5]:
    career.append(i)

In [9]:
import pandas as pd
df6 = pd.DataFrame({"Player_Name":name,
                   "Team":team,
                   "Rating":Rating,
                   "Career Best Rating":career})
df6.head(10)

         Player_Name Team Rating             Career Best Rating
0        Mithali Raj  IND    762    839 v Australia, 24/12/2004
1        Lizelle Lee   SA    758        773 v India, 14/03/2021
2       Alyssa Healy  AUS    756  756 v New Zealand, 10/04/2021
3     Tammy Beaumont  ENG    754        791 v India, 27/06/2021
4    Stafanie Taylor   WI    736     766 v Pakistan, 07/07/2021
5        Meg Lanning  AUS    723  834 v New Zealand, 24/02/2016
6  Amy Satterthwaite   NZ    715    756 v Australia, 02/03/2017
7     Natalie Sciver  ENG    706        712 v India, 25/02/2019
8    Smriti Mandhana  IND    701      797 v England, 28/02/2019
9    Laura Wolvaardt   SA    683        725 v India, 07/03/2021

# QUESTION  7

In [41]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [42]:
req=requests.get("https://www.amazon.in/s?k=Mobile+Phone+Under+19000&ref=nb_sb_noss_2")
req

# QUESTION:8

In [47]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [48]:
req=requests.get("https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996")
req

In [49]:
soup=BeautifulSoup(req.content)

In [50]:
h=[]
for i in soup.find_all("p"):
    h.append(i.text.replace("\n",""))

In [51]:
day=[]
for i in range(8,len(h),4):
    day.append(h[i])

In [52]:
des=[]
for i in range(10,len(h),4):
    des.append(h[i])

In [53]:
temp=[]
for i in range(11,len(h),4):
    temp.append(h[i])

In [59]:
det=[]
for i in soup.find_all("div",class_="col-sm-10 forecast-text"):
     det.append(i.text.replace("\n","").split())

In [93]:
df=pd.DataFrame({"Day":name[0:9],
                 "Des":des[0:9],
                 "Temp":temp,
                 "Description":det[0:9]
})

In [94]:
df

,Day,Des,Temp,Description
0,Today,Slight ChanceT-storms andBreezy,High: 66 °F,A 20 percent chance of showers and thunderstor...
1,Tonight,Slight ChanceT-storms andBreezy,Low: 57 °F,A 20 percent chance of showers and thunderstor...
2,Tuesday,Slight ChanceT-storms thenSlight ChanceRain,High: 75 °F,A slight chance of showers and thunderstorms b...
3,TuesdayNight,Partly Cloudy,Low: 58 °F,"Partly cloudy, with a low around 58. West wind..."
4,Wednesday,Mostly Sunny,High: 72 °F,"Mostly sunny, with a high near 72. Light west ..."
5,WednesdayNight,Mostly Cloudy,Low: 58 °F,"Mostly cloudy, with a low around 58."
6,Thursday,Mostly Sunny,High: 72 °F,"Mostly sunny, with a high near 72."
7,ThursdayNight,Partly Cloudy,Low: 57 °F,"Partly cloudy, with a low around 57."
8,Friday,Mostly Sunny,High: 70 °F,"Mostly sunny, with a high near 70."

# QUESTION 9

In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
request = requests.get("https://internshala.com/fresher-jobs")
request

In [3]:
fresher  = BeautifulSoup(request.content)

In [4]:
profile = []
for i in fresher.find_all("div",class_="heading_4_5 profile"):
    profile.append(i.text.strip())

In [5]:
company = []
for i in fresher.find_all("div",class_="heading_6 company_name"):
    company.append(i.text.strip())

In [6]:
b = []
for i in fresher.find_all("div",class_="item_body"):
    b.append(i.text.replace("\n","").strip())

In [7]:
ctc=b[1::3]
len(ctc)

40

In [8]:
apply_date=[]
apply_date=b[2::3]
len(apply_date)

40

In [9]:
request = requests.get("https://internshala.com/fresher-jobs/page-2")
request

In [10]:
fresher  = BeautifulSoup(request.content)

In [11]:
for i in fresher.find_all("div",class_="heading_4_5 profile"):
    profile.append(i.text.strip())
len(profile)

80

In [12]:
for i in fresher.find_all("div",class_="heading_6 company_name"):
    company.append(i.text.strip())
len(company)

80

In [13]:
b = []
for i in fresher.find_all("div",class_="item_body"):
    b.append(i.text.replace("\n","").strip())

In [14]:
ctc=ctc+b[1::3]
len(ctc)

80

In [15]:
apply_date=apply_date+b[2::3]
len(apply_date)

80

In [16]:
request=requests.get('https://internshala.com/fresher-jobs/page-3')
request

In [17]:
fresher=BeautifulSoup(request.content)

In [18]:
for i in fresher.find_all("div",class_="heading_4_5 profile"):
    profile.append(i.text.replace('\n','').strip())
    
len(profile)

120

In [19]:
for i in fresher.find_all("div",class_="heading_6 company_name"):
    company.append(i.text.replace('\n','').strip())
    
len(company)

120

In [20]:
b=[]
for i in fresher.find_all("div",class_="item_body"):
    b.append(i.text.replace('\n','').strip())

In [21]:
ctc=ctc+b[1::3]
len(ctc)

120

In [22]:
apply_date=apply_date+b[2::3]
len(apply_date)

120

In [23]:
request=requests.get('https://internshala.com/fresher-jobs/page-4')
request

In [24]:
fresher=BeautifulSoup(request.content)

In [25]:
for i in fresher.find_all("div",class_='heading_4_5 profile'):
    profile.append(i.text.replace('\n','').strip())
len(profile)

152

In [26]:
for i in fresher.find_all("div",class_='heading_6 company_name'):
    company.append(i.text.replace('\n','').strip())
len(company)

152

In [27]:
b=[]
for i in fresher.find_all("div",class_='item_body'):
    b.append(i.text.replace('\n','').strip())

In [28]:
ctc=ctc+b[1::3]
len(ctc)

152

In [29]:
apply_date=apply_date+b[2::3]

In [30]:
len(apply_date)

152

In [31]:
import pandas as pd
fresher=pd.DataFrame({
"Position" :profile,
"Company" :company,
"CTC" :ctc,
"Apply Date":apply_date})

In [32]:
fresher

,Position,Company,CTC,Apply Date
0,Sales Manager/Omni Sport Leader - Retail,Decathlon Sport India Private Limited,3.3 - 4.5 LPA,21 Aug' 21
1,Product Marketer,Habitate Technologies Private Limited,3.2 - 4.2 LPA,25 Aug' 21
2,Customer Support Associates,Recruit CRM,5 - 7 LPA,25 Aug' 21
3,Content & Customer Care Executive,Revo International LLP,3 - 3.05 LPA,25 Aug' 21
4,Django Developer,Startxlabs Technologies Private Limited,3.5 - 7.5 LPA,25 Aug' 21
...,...,...,...,...
147,Associate Full Stack Developer,REPOZITORY TECHNOLOGIES PRIVATE LIMITED,3 - 3.6 LPA,28 Jul' 21
148,Business Development Associate,Padhhigh,3.6 - 5 LPA,5 Aug' 21
149,Mobile App Developer,Ruhi,3 - 4 LPA,28 Jul' 21
150,Marketing Manager,DeepThought Edutech Ventures Private Limited,4 - 5 LPA,28 Jul' 21
151,Software Development Engineer (Web),Internshala,6.6 - 8.28 LPA,28 Jul' 21

# QUESTION  10

In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
request=requests.get('https://www.nobroker.in/2bhk-flats-for-sale-in-gurgaon_gurgaon')

In [3]:
house=BeautifulSoup(request.content)

In [4]:
Type=[]
for i in house.find_all('h2',class_="heading-6 font-semi-bold nb__1AShY"):
    Type.append(i.text)
Type

['2 BHK Flat  For Sale  In Experion The Heartsong In Gurgaon ',
 '2 BHK Flat  For Sale  In Huda Housing Board &#40;hbc&#41; Sector 9,gurgaon In Imt Manesar ',
 '2 BHK Flat  For Sale  In New Palam Vihar ',
 '2 BHK Apartment  For Sale  In Bestech Park View Ananda In Sector-81 ',
 '2 BHK Flat  For Sale  In Maple Heights In Sector 43 ',
 '2 BHK Apartment  For Sale  In Pyramid Urban Homes In Sector-70 A ',
 '2 BHK Apartment  For Sale  In Tulip Lemon In Sector-69 ',
 '2 BHK Apartment  For Sale  In Crescent Parc - Royal Greens In Sector 92 ',
 '2 BHK Flat  For Sale  In Huda Nhk Cghs In Sector-1  ',
 '2 BHK Flat  For Sale  In Anjani Apartment In Patel Nagar ']

In [5]:
Place=[]
for i in house.find_all('div',class_='nb__2CMjv'):
    Place.append(i.text)
Place

['Sector 108, Dharampur, Near SobhaDevlopers',
 'Sector 9 Gurugram, Haryana 122051, India',
 'Standalone Building, New Palam Vihar Phase 3 Marg',
 'Bestech Park View Ananda\xa0 Sector-81, Gurgaon, Haryana, INDIA.',
 'Block C, Sushant Lok Phase I, Sector 43, Gurugram, Haryana 122003, India',
 'Pyramid Urban Homes\xa0 Sector-70 A, Gurgaon, Haryana, INDIA.',
 'Tulip Lemon\xa0 Sector 69, Gurgaon, Haryana, INDIA.',
 'Crescent Parc - Royal Greens\xa0 Sector 92, Gurugram, Haryana 122505, India',
 'Golf Court Road, Sector 1, Near Bal Bharti Public School IMT Manesar India',
 'Behind SBI Mehrauli Road']

In [6]:
Area=[]
for i in house.find_all('div',class_='nb__3oNyC'):
    Area.append(i.text)
Area

['1,283 sqft',
 '700 sqft',
 '750 sqft',
 '1,360 sqft',
 '980 sqft',
 '650 sqft',
 '700 sqft',
 '1,000 sqft',
 '1,100 sqft',
 '650 sqft']

In [8]:
emi=[]
for i in house.find_all('div',class_='font-semi-bold heading-6'):
    emi.append(i.text)

In [9]:
emi=emi[1::3]
emi

['₹46,997/Month',
 '₹21,206/Month',
 '₹14,328/Month',
 '₹46,997/Month',
 '₹49,863/Month',
 '₹22,352/Month',
 '₹26,364/Month',
 '₹29,803/Month',
 '₹31,522/Month',
 '₹19,486/Month']

In [10]:
price=[]
for i in house.find_all('div',class_="font-semi-bold heading-6"):
    price.append(i.text)

In [11]:
price=price[2::3]

In [13]:
import pandas as pd
house=pd.DataFrame({
"Type" :Type,
"Place" :Place,
"Area" :Area,
"emi":emi,
"Price":price})

house

,Type,Place,Area,emi,Price
0,2 BHK Flat For Sale In Experion The Heartson...,"Sector 108, Dharampur, Near SobhaDevlopers","1,283 sqft","₹46,997/Month",₹82 Lacs
1,2 BHK Flat For Sale In Huda Housing Board &#...,"Sector 9 Gurugram, Haryana 122051, India",700 sqft,"₹21,206/Month",₹37 Lacs
2,2 BHK Flat For Sale In New Palam Vihar,"Standalone Building, New Palam Vihar Phase 3 Marg",750 sqft,"₹14,328/Month",₹25 Lacs
3,2 BHK Apartment For Sale In Bestech Park Vie...,"Bestech Park View Ananda Sector-81, Gurgaon, ...","1,360 sqft","₹46,997/Month",₹82 Lacs
4,2 BHK Flat For Sale In Maple Heights In Sect...,"Block C, Sushant Lok Phase I, Sector 43, Gurug...",980 sqft,"₹49,863/Month",₹87 Lacs
5,2 BHK Apartment For Sale In Pyramid Urban Ho...,"Pyramid Urban Homes Sector-70 A, Gurgaon, Har...",650 sqft,"₹22,352/Month",₹39 Lacs
6,2 BHK Apartment For Sale In Tulip Lemon In S...,"Tulip Lemon Sector 69, Gurgaon, Haryana, INDIA.",700 sqft,"₹26,364/Month",₹46 Lacs
7,2 BHK Apartment For Sale In Crescent Parc - ...,"Crescent Parc - Royal Greens Sector 92, Gurug...","1,000 sqft","₹29,803/Month",₹52 Lacs
8,2 BHK Flat For Sale In Huda Nhk Cghs In Sect...,"Golf Court Road, Sector 1, Near Bal Bharti Pub...","1,100 sqft","₹31,522/Month",₹55 Lacs
9,2 BHK Flat For Sale In Anjani Apartment In P...,Behind SBI Mehrauli Road,650 sqft,"₹19,486/Month",₹34 Lacs