In [6]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\umesh gupta\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\umesh gupta\anaconda3\lib\site-packages (from selenium) (1.25.11)

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [33]:
import selenium
import pandas as pd
from selenium import webdriver

In [34]:
driver = webdriver.Chrome("chromedriver.exe")

In [4]:
url = "https://www.naukri.com/"
driver.get(url)

In [5]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")

In [11]:
search_job.send_keys("Data Analyst")

In [18]:
loc=driver.find_element_by_id("qsb-location-sugg")

In [19]:
loc.send_keys("Banglore")

In [21]:
ser=driver.find_element_by_class_name("btn")

In [22]:
ser.click()

In [51]:
job_tit=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [52]:
job_title=[]
for i in job_tit:
    job_title.append(i.text)

['Senior Data Analyst - SQL/Tableau/Redshift',
 'Hiring Business data analyst with Strong SQL Skills',
 'Senior Data Analyst',
 'Data Analyst - Work from Home',
 'Data Analyst',
 'Sr. Data Analyst DW BI- Immediate Joiners',
 'Business Analyst - Data Analytics',
 'Senior Data Analyst',
 'Senior Safety Data Analyst - BI',
 'Business Data Analyst',
 'Business Data Analyst - Treasury Markets,',
 'Data Analyst/Scientist',
 'Hot Vacancies - Senior Data Analyst, Bengaluru',
 'Data Analyst',
 'Associate System and Data Analyst',
 'Data Analyst- Azure',
 'Marketing Data Analyst',
 'Data Analyst',
 'Associate Data Analyst',
 'Immediate Hiring For Data Analyst - Bangalore']

In [30]:
comp=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [31]:
company=[]
for i in comp:
    company.append(i.text)

In [40]:
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [41]:
location=[]
for i in loc:
    location.append(i.text)

['Noida, Mumbai, Indore, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru, Mumbai (All Areas)',
 'Bangalore/Bengaluru',
 'Remote',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(2nd Phase JP Nagar)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Mumbai, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Ahmedabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [42]:
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")

In [43]:
experience=[]
for i in exp:
    experience.append(i.text)

In [53]:
df= pd.DataFrame({"Job Title":job_title[0:10],
                   "Location":location[0:10],
                   "Company":company[0:10],
                   "Experience":experience[0:10]})

df

,Job Title,Location,Company,Experience
0,Senior Data Analyst - SQL/Tableau/Redshift,"Noida, Mumbai, Indore, Hyderabad/Secunderabad,...",Pronto Consulting Services,6-10 Yrs
1,Hiring Business data analyst with Strong SQL S...,Bangalore/Bengaluru,Hexaware Technologies Ltd.,9-13 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Publicis Groupe,1-5 Yrs
3,Data Analyst - Work from Home,"Pune, Bangalore/Bengaluru, Mumbai (All Areas)",POWER STORES E COMMERCE PRIVATE LIMITED,2-5 Yrs
4,Data Analyst,Bangalore/Bengaluru,Innovsource Services Private Limited,1-6 Yrs
5,Sr. Data Analyst DW BI- Immediate Joiners,Remote,Kelly Outsourcing and Consulting Group India P...,5-10 Yrs
6,Business Analyst - Data Analytics,Bangalore/Bengaluru,BankBazaar,1-5 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru(2nd Phase JP Nagar),"Liventus, Inc.",5-8 Yrs
8,Senior Safety Data Analyst - BI,Bangalore/Bengaluru,Novo Nordisk India,5-10 Yrs
9,Business Data Analyst,Bangalore/Bengaluru,NetApp,3-6 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [162]:
url = "https://www.naukri.com/"
driver.get(url)

In [163]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")

In [164]:
search_job.send_keys("Data Scientist")

In [165]:
loc=driver.find_element_by_id("qsb-location-sugg")

In [166]:
loc.send_keys("Banglore")

In [167]:
ser=driver.find_element_by_class_name("btn")

In [168]:
ser.click()

In [169]:
job_tit=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [170]:
job_title=[]
for i in job_tit:
    job_title.append(i.text)
    
len(job_title)

20

In [171]:
comp=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [172]:
company=[]
for i in comp:
    company.append(i.text)
    
len(company)

20

In [173]:
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [174]:
location=[]
for i in loc:
    location.append(i.text)
    
len(location)

20

In [175]:
url= []
for i in driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]'):
    url.append(i.get_attribute('href'))

In [176]:
description =[]
for i in url[0:14]: 
    driver.get(url=i)
    desc = driver.find_elements_by_xpath('//*[@class="dang-inner-html"]')
    try:
        for i in desc:
            description.append(i.text.replace("\n",""))
    except:
        description.append(None)
len(description)

10

In [177]:
df = pd.DataFrame({"Job Title":job_title[0:10],
                    "Company":company[0:10],
                   "Location":location[0:10],
                   "Full description":description[0:10]})
df

,Job Title,Company,Location,Full description
0,Data Scientist- Senior Business Analyst/Lead A...,Evalueserve.com Pvt. Ltd,"Gurgaon/Gurugram, Bangalore/Bengaluru",Job DescriptionUnderstand and design analytica...
1,Senior Data Scientist,Signify,Bangalore/Bengaluru,"What you ll doResearch, design and prototype r..."
2,"Senior Data Scientist (Analytics),",Luxoft,Bangalore/Bengaluru,Data and Analytics Proposal Responses for Cr...
3,Data Scientist: Advanced Analytics,IBM India Pvt. Limited,Bangalore/Bengaluru,Roles and ResponsibilitiesWell-versed in quant...
4,Data Scientist,IBM India Pvt. Limited,Bangalore/Bengaluru,"Be a part of the Enterprise IT , Information..."
5,Senior Data Scientist,SMITHS DETECTION SYSTEMS PRIVATE LIMITED,Bangalore/Bengaluru,- Ability to understand a problem statement an...
6,Lead Data Scientist,TransOrg Solutions Services (P) Ltd.,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",- Ability to understand a problem statement an...
7,Senior Data Scientist,Philips India Limited,Bangalore/Bengaluru,Provide advanced analytical capabilities to su...
8,Senior Data Scientist - KPO,TalentCo Search Pvt Ltd,"Mumbai, Bangalore/Bengaluru, Delhi / NCR",Job Role ResponsibilitiesBe a part of a growin...
9,Senior Data Scientist,TalentCo Search Pvt Ltd,"Mumbai, Delhi / NCR, Bangalore/Bengaluru",We are looking for a Data Scientist with 6+ ye...

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [12]:
url = "https://www.naukri.com/"
driver.get(url)

In [13]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")

In [14]:
search_job.send_keys("Data Scientist")

In [15]:
ser=driver.find_element_by_class_name("btn")

In [16]:
ser.click()

In [18]:
checkbox = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/i")

In [19]:
checkbox.click()

In [21]:
checkbox = driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")

In [22]:
checkbox.click()

In [23]:
job_title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [24]:
job_titles=[]
for i in job_title:
    job_titles.append(i.text)

In [25]:
comp = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company =[]
for i in comp:
    company.append(i.text)

In [26]:
loc = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
location =[]
for i in loc:
    location.append(i.text)

In [27]:
exp = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
experience =[]
for i in exp:
    experience.append(i.text)

In [28]:
df3 = pd.DataFrame({"Job Title":job_titles[0:10],
                   "Location":location[0:10],
                   "Company":company[0:10],
                   "Experience":experience[0:10]})
df3

,Job Title,Location,Company,Experience
0,Data Scientist,Gurgaon/Gurugram,CBRE South Asia Pvt Ltd,2-4 Yrs
1,Data Scientist / Sr. Data Scientist,"Noida, Pune, Mumbai (All Areas)",WEGARNER SOLUTIONS PRIVATE LIMITED,0-5 Yrs
2,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Gurgaon/Gurugram, Delhi / NCR",GABA Consultancy services,0-0 Yrs
3,Data Scientist / Data Analyst,Gurgaon/Gurugram,CARS24,1-5 Yrs
4,Immediate Openings For DATA Scientist with 6 T...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",Entune IT Consulting Private Limited,5-8 Yrs
5,Data Scientist,Gurgaon/Gurugram,Decimal Technologies Pvt Ltd.,1-3 Yrs
6,Senior Data Scientist - Noida,Noida,Optum Global Solutions (India) Private Limited,2-6 Yrs
7,Data Scientist,Noida(Sector-59 Noida),R Systems International Ltd.,5-10 Yrs
8,Hiring Data Scientist Develope || IDS Infotech...,"Chandigarh, Hyderabad/Secunderabad, Chennai, B...",IDS Infotech Ltd.,5-10 Yrs
9,Hiring Data Scientist Develope || IDS Infotech...,"Chandigarh, Hyderabad/Secunderabad, Chennai, B...",IDS Infotech Ltd.,5-10 Yrs

# Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [132]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace.")

In [112]:
all=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[8]/div/div/div[5]/div/a/div/span')
all.click()

In [113]:
a=[]
for i in driver.find_elements_by_xpath('//div[@class="_2MImiq _1Qnn1K"]//a'):
    a.append(i.get_attribute('href'))

In [129]:
rat=[]
rev=[]
des=[]
for i in a:
    driver.get(i)
    try:
        for i in driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]'):
            rat.append(i.text)
    except:
        "None"
    try:
        for i in driver.find_elements_by_xpath('//p[@class="_2-N8zT"]'):
            rev.append(i.text)
    except:
        "None"
    try:
        for i in driver.find_elements_by_xpath('//div[@class="t-ZTKy"]'):
            des.append(i.text)
    except:
        "None"

In [131]:
df= pd.DataFrame({"Rating":rat[0:100],
                   "Review":rev[0:100],
                   "Full Review":des[0:100]})

df

,Rating,Review,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
2,5,Fabulous!,This is my first iOS phone. I am very happy wi...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Mind-blowing purchase,Excellent camera 📸 And Display touching very N...
96,5,Excellent,A perfect phone and a good battery super camer...
97,5,Fabulous!,Everything is perfect pictures come out so cle...
98,5,Excellent,Value for money product. This iphone 11 is rea...
99,5,Wonderful,Super and marvellous phone look very cute and ...

# Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [5]:
driver.get("https://www.flipkart.com/")

In [6]:
search = driver.find_element_by_class_name("_3704LK")

In [6]:
search.send_keys("sneakers")

In [7]:
btn=driver.find_element_by_class_name('L0Z3Pu')

In [8]:
btn.click()

In [9]:
a=[]
for i in driver.find_elements_by_xpath('//div[@class="_2MImiq"]//a'):
    a.append(i.get_attribute('href'))

In [10]:
brand=[]
price=[]
discount=[]
product=[]

for i in a[0:4]:
    driver.get(i)
    try:
        for i in driver.find_elements_by_xpath('//div[@class="_2WkVRV"]'):
            brand.append(i.text)
    except:
        "None"
    try:
        for i in driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]'):
            discount.append(i.text)
    except:
        "None"
    try:
        for i in driver.find_elements_by_xpath('//div[@class="_30jeq3"]'):
            price.append(i.text)
    except:
        "None"
    try:
        for i in driver.find_elements_by_class_name("IRpwTa"):
            product.append(i.text)
    except:
        "None"

In [11]:
len(product),len(discount),len(price),len(brand)

(160, 159, 160, 160)

In [12]:
df= pd.DataFrame({"Brand":brand[0:100],
                   "Price":price[0:100],
                   "Discount":discount[0:100],
                    "Product Des":product[0:100]})

df

,Brand,Price,Discount,Product Des
0,DUCATI,"₹1,289",65% off,Sneakers For Men
1,DUCATI,"₹1,445",60% off,Sneakers For Men
2,Chevit,₹449,70% off,Unique & Perfect Collection Combo Pack of 02 S...
3,Chevit,₹599,62% off,Super Stylish & Trendy Combo Pack of 02 Pairs ...
4,BRUTON,₹499,80% off,Modern & Trendy Collection Combo Pack of 02 Sh...
...,...,...,...,...
95,Numenzo,₹426,48% off,Sneakers For Men
96,SHOE ISLAND,₹519,69% off,Sneakers For Men
97,Zsyto,₹398,72% off,Sneakers For Men
98,PROVOGUE,₹559,75% off,Sneakers For Men
99,ASTEROID,₹499,56% off,Original Luxury Branded Fashionable Men's Casu...

 # Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes

In [4]:
driver.get("https://www.flipkart.com/")

In [5]:
search = driver.find_element_by_class_name("_3704LK")

In [6]:
search.send_keys("sunglasses")

In [7]:
btn=driver.find_element_by_class_name('L0Z3Pu')
btn.click()

In [10]:
urls=[]
for i in driver.find_elements_by_xpath('//div[@class="_2MImiq"]//a'):
    urls.append(i.get_attribute('href'))

In [19]:
name=[]
descr=[]
price=[]
discount=[]

In [20]:
for i in urls[0:3]:
    driver.get(i)
    try:
        product = driver.find_elements_by_class_name("_2WkVRV")
        for i in product:
            name.append(i.text)
    except:
        product.append("--")


    des = driver.find_elements_by_class_name("IRpwTa") 
    for i in des:
        descr.append(i.text)

    for i in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        price.append(i.text)

    for i in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        discount.append(i.text)

In [22]:
df = pd.DataFrame({"Brand":name[0:100],
                   "Product Description":descr[0:100],
                   "Price":price[0:100],
                   "Discount %":discount[0:100]})
df

,Brand,Product Description,Price,Discount %
0,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
1,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹513,35% off
2,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...",₹299,88% off
3,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹237,85% off
...,...,...,...,...
95,ROADWAY,"UV Protection Retro Square, Sports Sunglasses ...",₹294,80% off
96,Wrogn,UV Protection Wayfarer Sunglasses (56),₹684,73% off
97,PHENOMENAL,"UV Protection, Mirrored, Gradient Retro Square...",₹246,87% off
98,NuVew,UV Protection Sports Sunglasses (73),₹348,72% off
99,ROYAL SON,"Polarized, UV Protection Round Sunglasses (49)",₹664,66% off

# Q9: Go to the link- https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown inthe below image

In [51]:
driver.get("https://www.myntra.com/shoes")

In [52]:
col=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div')
col.click()

In [53]:
price=driver.find_element_by_xpath('/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div')
price.click()

In [54]:
a=[]
for i in driver.find_elements_by_xpath('//ul[@class="pagination-container"]//a'):
    a.append(i.get_attribute('href'))

In [56]:
brand=[]
price=[]
product=[]

for i in a[0:4]:
    driver.get(i)
    try:
        for i in driver.find_elements_by_xpath('//h3[@class="product-brand"]'):
            brand.append(i.text)
    except:
        "None"
    try:
        for i in driver.find_elements_by_xpath('//div[@class="product-price"]'):
            price.append(i.text)
    except:
        "None"
    try:
        for i in driver.find_elements_by_xpath('//h4[@class="product-product"]'):
            product.append(i.text)
    except:
        "None"

In [59]:
len(price)

200

In [58]:
df= pd.DataFrame({"Brand":brand[0:100],
                   "Price":price[0:100],
                    "Product Des":product[0:100]})

df

           Brand                      Price                    Product Des
0           ALDO                   Rs. 9999                   Men Sneakers
1         ADIDAS  Rs. 6079Rs. 7599(20% OFF)      Women Response SR Running
2           Nike                   Rs. 8295    Zoom Winflo 8 Running Shoes
3           ALDO                   Rs. 9999                   Men Sneakers
4           Nike                   Rs. 8295  JORDAN ONE TAKE II Basketball
..           ...                        ...                            ...
95   RARE RABBIT                   Rs. 7999   Perforations Leather Brogues
96          Puma                  Rs. 10999   Men Spike 19.1 Cricket Shoes
97          Puma                  Rs. 10999   Men Spike 19.1 Cricket Shoes
98          Nike                   Rs. 8295        Men AIR MAX AP Sneakers
99  UNDER ARMOUR                   Rs. 6999   Women Charged Assert 8 Mrble

[100 rows x 3 columns]

# Q10: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in thebelow image:

In [31]:
driver.get("https://www.amazon.in/")

In [32]:
search = driver.find_element_by_id("twotabsearchtextbox")

In [33]:
search.send_keys("Laptop")

In [34]:
btn=driver.find_element_by_id('nav-search-submit-button')
btn.click()

In [36]:
col=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[3]/li[26]/span/a/div/label/i')
col.click()

In [38]:
l=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[3]/li[28]/span/a/div/label/i')
l.click()

In [39]:
title=[]
price=[]

try:
    for i in driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]'):
        title.append(i.text.replace("\n","").strip())
except:
    title.append(None)

try:
    for i in driver.find_elements_by_class_name("a-price-whole"):
        price.append(i.text)
except:
    "None"

In [43]:
urls=[]
for i in driver.find_elements_by_xpath('//a[@class="a-link-normal a-text-normal"]'):
    urls.append(i.get_attribute("href"))
len(urls)

28

In [51]:
rat=[]
for i in urls[:10]:
    driver.get(i)
    try:
        R=driver.find_element_by_xpath("//div[@class='a-fixed-left-grid-col aok-align-center a-col-right']")
        rat.append(R.text)
    except:
        rat.append("-")

In [53]:
df= pd.DataFrame({"title":title[0:10],
                   "Price":price[0:10],
                    "Rating":rat})

df

                                               title     Price        Rating
0  ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FH...  1,07,990  4.5 out of 5
1  HP Envy 11th Gen Core i7 Processor 13.3-inch (...  1,09,990  4.1 out of 5
2  MSI GF65 Thin, Intel i7-10750H, 15.6" FHD (39....    81,990  3.7 out of 5
3  HP Pavilion (2021) Thin & Light 11th Gen Core ...    84,990  4.3 out of 5
4  Mi Notebook Horizon Edition 14 Intel Core i7-1...    59,490  4.4 out of 5
5  ASUS TUF Gaming F15 (2020), 15.6-inch (39.62 c...    71,990    4 out of 5
6  MSI GF75 Thin, Intel i7-10750H, 17.3" (43.9 cm...    74,990  4.6 out of 5
7  HP Pavilion Gaming(2021) 10th Gen Intel Core i...    89,990  4.4 out of 5
8  ASUS TUF Dash F15 (2021), 15.6" (39.62 cms) FH...  1,07,990  4.5 out of 5
9  Lenovo IdeaPad Gaming 3 Intel Core i7 10th Gen...    73,990  4.4 out of 5

# Q4 Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company

In [35]:
driver.get("https://www.glassdoor.co.in/member/home/index.htm")

In [36]:
signin = driver.find_element_by_xpath("/html/body/header/nav[1]/div/div/div/div[4]/div[2]/form/div/div[1]/div/div/input")
signin.click()

In [38]:
signin.send_keys("Data Scientist")

In [40]:
loc= driver.find_element_by_xpath("/html/body/header/nav[1]/div/div/div/div[4]/div[2]/form/div/div[3]/div/input")

In [41]:
loc.send_keys("Noida")

In [43]:
btn=driver.find_element_by_xpath("/html/body/header/nav[1]/div/div/div/div[4]/div[2]/form/div/button")

In [44]:
btn.click()

In [45]:
a=[]
for i in driver.find_elements_by_xpath('//div[@class="cell alignRt middle css-zdpt2t"]//a'):
    a.append(i.get_attribute('href'))
    
a

['https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm?includeNoSalaryJobs=true&p=0',
 'https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm?includeNoSalaryJobs=true&p=1',
 'https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm?includeNoSalaryJobs=true&p=2',
 'https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm?includeNoSalaryJobs=true&p=3',
 'https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm?includeNoSalaryJobs=true&p=4',
 'https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm?includeNoSalaryJobs=true&p=5',
 'https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm?includeNoSalaryJobs=true&p=2']

In [46]:
company=[]
rat=[]
daysago=[]

for i in a[0:1]:
    driver.get(i)
    try:
        for i in driver.find_elements_by_xpath('//div[@class="d-flex justify-content-between align-items-start"]'):
            company.append(i.text)
    except:
        "None"
    try:
        for i in driver.find_elements_by_xpath('//span[@class="css-19pjha7 e1cjmv6j1"]'):
            rat.append(i.text)
    except:
        "None"
    try:
        for i in driver.find_elements_by_xpath('//div[@class="d-flex align-items-end pl-std css-mi55ob"]'):
            daysago.append(i.text)
    except:
        "None"

In [47]:
df= pd.DataFrame({"Company":company[0:10],
                   "Rating":rat[0:10],
                    "No. of days ago when job was posted":daysago[0:10]})

df

,Company,Rating,No. of days ago when job was posted
0,Liberin Technologies Private Limited,,17d
1,Data Trained Education,3.8,7d
2,Pixel Vision,3.8,28d
3,Emerging India Analytics,5.0,9d
4,Biz2Credit Inc,3.4,
5,Crowe,4.1,30d+
6,Salasar New Age Technologies,3.9,30d+
7,CRMNEXT,4.4,2d
8,Techlive,3.8,30d+
9,Newgen Software,3.8,28d

# Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [48]:
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [49]:
search = driver.find_element_by_xpath("/html/body/div[3]/div/div[1]/div[1]/div/div/form/input[5]")

In [50]:
search.send_keys("Data Scientist")

In [51]:
loc= driver.find_element_by_xpath("/html/body/div[3]/div/div[1]/div[1]/div/div/form/input[6]")

In [52]:
loc.send_keys("Noida")

In [60]:
btn=driver.find_element_by_xpath("/html/body/div[3]/div/div[1]/div[1]/div/div/form/button")

In [61]:
btn.click()

In [62]:
a=[]
for i in driver.find_elements_by_xpath('//ul[@class="css-1ff5hnt"]//a'):
    a.append(i.get_attribute('href'))

In [63]:
comp=[]
no=[]
price=[]
mini=[]
maxi=[]

for i in a[0:1]:
    driver.get(i)
    try:
        for i in driver.find_elements_by_xpath('//h3[@class="m-0 css-g261rn"]'):
            comp.append(i.text)
    except:
        "None"
    try:
        for i in driver.find_elements_by_xpath('//div[@class="col-12 col-lg-auto"]'):
            no.append(i.text)
    except:
        "None"
    try:
        for i in driver.find_elements_by_xpath('//h3[@class="m-0 css-g261rn"]'):
            price.append(i.text)
    except:
        "None"
    try:
        for i in driver.find_elements_by_xpath('//p[@class="m-0 css-1vkj9it"]'):
            mini.append(i.text)
    except:
        "None"
for i in range(20,len(mini),3):
    maxi.append(mini[i])

In [64]:
mini=mini[19::3]

In [65]:
comp=comp[4::2]

In [66]:
price=price[5::2]

In [68]:
df= pd.DataFrame({"Company name":comp[0:10],
                   "No of salaries":no[0:10],
                    "Avg Salary":price[0:10],
                   "Min":mini[0:10],
                    "Max":maxi[0:10]})

df

                Company name No of salaries  Avg Salary  Min   Max
0  Tata Consultancy Services    18 salaries   ₹6,12,205  ₹3L  ₹13L
1                        IBM    18 salaries   ₹9,00,000  ₹6L  ₹27L
2                  Accenture    15 salaries  ₹11,63,336  ₹6L  ₹22L
3                  Delhivery    15 salaries  ₹12,18,244  ₹5L  ₹1Cr
4         Ericsson-Worldwide    14 salaries   ₹7,39,238  ₹4L  ₹16L
5         UnitedHealth Group    14 salaries  ₹12,80,000  ₹8L  ₹15L
6                      Optum    10 salaries  ₹13,20,960  ₹8L  ₹20L
7         Valiance Solutions    10 salaries   ₹8,63,750  ₹5L  ₹15L
8                EXL Service     9 salaries  ₹11,10,000  ₹6L  ₹15L
9     Optum Global Solutions     9 salaries  ₹13,28,697  ₹4L  ₹22L